.card{
    flex-wrap: wrap;
    justify-content: space-around;
    gap:0px;
    display: flex;
    gap: 3px;
    
}
.border{
    /* border: 1px solid black; */
    width: 60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.color{
    color: #40196D;
    font-size: 24px;
}
.img{
    left: 10%;
}